{% extends 'base.html' %}
{% block title %} Orders {% endblock %}

{% block content %}
 <h1>Orders Page</h1>
 <table class="table">
  <thead>
    <tr>
      <th scope="col">Order</th>
      <th scope="col">Customer</th>
      <th scope="col">Product</th>
      <th scope="col">Address</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for x in delivery %}
    <tr>
      <td>{{x.Order_id }}</td>
      <td>{{x.Customer_id }}</td>
      <td>{{x.Product_id }}</td>
      <td>{{x.Delivery_Address }}</td>
      <td>{{x.Delivery_Price }}</td>
      <td>{{x.Delivery_Date }}</td>
      <td><a href="{% url 'update-delivery' x.id %}" class="btn btn-primary">Update</a></td>
      <td><a href="{% url 'delete-delivery' x.id %}" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table> 

<a href="http://aratsarapinas.c1.biz/contact.html" class="btn btn-light"style="background-color:#C6878F; border:0px">Book Now</a>
{% endblock %}
