{% extends 'base.html' %}
{% block title %}  {% endblock %}

{% block content %}
<h1>Sarapinas</h1>
<p>
The Philippines, like its
Southeast Asian neighbors,
has an abundance of street
cuisine. Which meals should
you sample first, given the

abundance of delectable
options?

Street foods are snacks or
‘ready-to-eat food,
beverages prepared and sold
by street vendors in different
public places.
</p>
<img src="https://images.unsplash.com/photo-1593870682262-8c9f6a9bb225?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="rounded w-75 img-fluid">
{% endblock %}
